#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

section {
  width: 50%;
  padding: 4em;
  max-width: 800px;
}

section:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
